html,body{
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  font-family:'HelveticaNeue','Arial', sans-serif;
}
h1{
  text-align: center;
  margin-top: 0%;
  margin-bottom: 5px;
  color: deeppink;
}
@media screen and (max-width:480px){
  h1{
    font-size: 20px;
  }
}
#formWrapper{
  background:linear-gradient(114.67196031231879deg, rgba(255, 226, 160,1) 5.736111111111111%,rgba(255, 115, 156,1) 96.29166666666666%);
  width:100%; 
  min-height:100%; 
  position: absolute; 
  top:0; 
  left:0;
  transition:all .3s ease;
}
#form{
  text-align: center;
  width:30%;
  height:580px;
  background-color: #fff;
  margin: 24px auto;
  margin-top: 8vh;
  border-radius: 30px;
  padding:5%;
  left:50%;
  top:50%;
  box-shadow: 2px 2px 10px gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media screen and (max-width:480px){
  #form{
    width:50%;
    min-height:550px;
    padding-top: 10%;
    margin-top: 15%;
  }
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.form-item{
  position: relative; 
  display: block; 
  margin-bottom: 20px;
}
input{
  transition: all .2s ease;
}
input.form-style{
  color:#8a8a8a;
  display: block;
  width: 90%;
  height: 44px;
  padding:3%;
  border:1px solid #ccc;
  -moz-border-radius: 27px;
  -webkit-border-radius: 27px;
  border-radius: 27px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #fff;
  font-family:'HelveticaNeue','Arial', sans-serif;
  font-size: 105%;
  letter-spacing: .8px;
}
label{
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 1rem;
  color: #757575;
  cursor: text;
  -webkit-transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: color .2s ease-out, -webkit-transform .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out;
  transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
  -webkit-transform: translateY(12px);
  transform: translateY(12px);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
@media screen and (max-width:480px){
  input.form-style{
    width:90%;
    height:40px;
  }
}
div.form-item .form-style:focus{
  outline: none; 
  border:1px solid deeppink; 
  color:deeppink;
}
div.form-item .for-group {
  position: absolute;
  left:26px;
  top:2px;
  transition:all .4s ease;
  color:#bbb;
}
label.formTop{
  top:-22px !important; 
  left:26px;
}
.formTop{
  top:-22px !important; 
  left:26px;
  background-color: #fff; 
  padding:0 5px;
  font-size: 14px; 
  color:deeppink !important;
}
.formStatus{
  color:#8a8a8a !important;
}
input.btn.btn-primary{
  font-size: 20px;
  width: 112px;
  height: 37px;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: deeppink;
  border:1px solid deeppink;
  border:none;
  color: #fff;
}
input[type="submit"]#login:hover{
  background-color: #fff; 
  border:1px solid deeppink; 
  color:deeppink; 
  cursor:pointer;
}
input[type="submit"]#login:focus{
  outline: none;
}