.calendar-title {
  text-align: center;
  margin: 0 0 .25rem;
}
.calendar-table {
  width: 98%;
  margin: 0 auto;
}
.calendar-table .is-today {
  color: red;
}
.calendar-table td {
  width: 14%;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
}
.calendar-table th,
.calendar-table td {
  font-size: 1.25rem;
}